<!--<form [formGroup]="crearUsuarioValidator">-->
<section class="container">
  <div class="row">
    <h3 class="center-align">Creacion Bloque</h3>
    <article class="col s6 offset-s3">
      <form [formGroup]="fgValidator">
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" required />
        </div>

        <div class="input-field">
          <i class="material-icons prefix">person_pin</i>
          <label for="descripcion">Descripcion:</label>
          <input
            formControlName="descripcion"
            type="text"
            name="descripcion"
            required
          />
        </div>

        <div class="input-field">
          <i class="material-icons prefix">business</i>
          <select
            formControlName="proyecto"
            class="browser-default pl"
            id="proyecto"
          >
            <option value="" disabled selected>Proyecto</option>
          </select>
        </div>
        <p class="center-align">
          <button
            class="waves-effect waves-light btn"
            type="submit"
            (click)="RegitrarBloque()"
          >
            <i class="material-icons right"></i>Registrar
          </button>
        </p>
      </form>
    </article>
  </div>
</section>
