<section class="container">
  <div class="row">
    <h4 class="center-align grey-text text-lighten-4">Informe de ventas</h4>
    <article class="col s6 offset-s3"></article>
    <div>
      <div class="chart" *ngIf="torta">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [colors]="chartColors"
        >
        </canvas>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div style="display: block" *ngIf="!torta">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              [colors]="chartColors"
            ></canvas>
          </div>
          <button class="btn" (click)="randomize()">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</section>
