<!--<form [formGroup]="crearUsuarioValidator">-->
<section class="container">
  <div class="row">
    <h3 class="center-align">Creacion Proyecto</h3>
    <article class="col s6 offset-s3">
      <form [formGroup]="uploadForm">
        <input
          formControlName="file"
          (change)="onFileSelect($event)"
          name="image"
          class="form-control"
          type="file"
        />
        <input type="button" value="Upload" (click)="cargarImagen()" />
      </form>
      <form [formGroup]="fgValidator">
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" required />
        </div>
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <label for="descripcion">Descripcion</label>
          <input
            formControlName="descripcion"
            type="text"
            name="descripcion"
            required
          />
        </div>
        <input type="hidden" formControlName="image" />

        <div class="input-field">
          <i class="material-icons prefix">assistant_photo</i>
          <select formControlName="pais" class="browser-default pl" id="pais">
            <option value="" disabled selected>País</option>
            <option *ngFor="let x of paises" value="{{ x.codigo }}">
              {{ x.nombre }}
            </option>
          </select>
        </div>
        <div class="input-field" *ngIf="ciudades">
          <i class="material-icons prefix">landscape</i>
          <select
            formControlName="ciudad"
            class="browser-default pl"
            id="ciudad"
          >
            <option value="" disabled selected>Ciudad</option>
            <option *ngFor="let x of ciudades" value="{{ x.codigo }}">
              {{ x.nombre }}
            </option>
          </select>
        </div>
        <p class="center-align">
          <button
            class="waves-effect waves-light btn"
            type="submit"
            (click)="RegitrarProyecto()"
          >
            <i class="material-icons right"></i>Registrar
          </button>
        </p>
      </form>
    </article>
  </div>
</section>
