<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <form [formGroup]="fgValidator">
      <div class="row"></div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input
            formControlName="Usuario"
            class="Usuario"
            id="Usuario"
            type="text"
          />
          <label for="Usuario" data-error="wrong" data-success="right"
            >Usuario</label
          >
          <div
            class="mensajeValidacion"
            *ngIf="
            fgv.Usuario.errors &&
              (fgv.Usuario.dirty ||
              fgv.Usuario.touched)
            "
          >
            <strong>Este campo es requerido</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input formControlName="contrasena" id="contrasena" type="password" />
          <label for="contrasena">Contraseña</label>
          <div
            class="mensajeValidacion"
            *ngIf="
            fgv.contrasena.errors &&
              (fgv.contrasena.dirty || fgv.contrasena.touched)
            "
          >
            <strong>Este campo es requerido</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          Espacio para el captcha
          </div>
        </div>
      
      <div class="row">
        <div class="input-field col s12">
          
          <a class="btn waves-effect waves-light col s12" (click)='IniciarSesion()'
            >Iniciar sesión</a
          >
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          
        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small">
            <a routerLink="../resetear-contrasena">¿Olvido su contraseña?</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
