<!--<p>¿Seguro desea eliminar al bloque: {{ objeto }} ?</p>-->

<!--<form [formGroup]="crearUsuarioValidator">-->
  <section class="container">
    <div class="row">
      <h3 class="center-align">Eliminar Bloque</h3>
      <article class="col s6 offset-s3">
        
          
          <h4 ><p id="codigo"></p></h4>
          <p class="center-align">
            <button
              class="waves-effect waves-light btn"
              type="submit"
              (click)="eliminarBloque()"
            >
              <i class="material-icons right"></i>Eliminar
            </button>
          </p>
        
      </article>
    </div>
  </section>
  