.input-field input:focus + label {
  color: rgb(255, 255, 255);
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 0 0 rgb(255, 255, 255);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(255, 255, 255);
}
input,
select,
textarea {
  color: rgb(255, 255, 255);
}

textarea:focus,
input:focus {
  color: rgb(255, 255, 255);
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(79, 22, 35) inset;
}
