<div class="table-title center-align">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="grey-text text-lighten-4">Administración Clientes</h4>
    </div>
    <div class="col-sm-6">
      <button
        [routerLink]="['/ventas', { outlets: { modal: ['crear-cliente'] } }]"
        class="waves-effect waves-light btn modal-trigger"
        data-target="modal1"
        *ngIf="rol == 'Vendedor'"
      >
        <i class="material-icons left">&#xE147;</i> <span>Crear Cliente</span>
      </button>
    </div>
  </div>
</div>
<table class="highlight responsive-table">
  <thead class="white-text">
    <tr>
      <th class="center-align">Documento</th>
      <th class="center-align">Nombre</th>
      <th class="center-align">Apellido 1</th>
      <th class="center-align">Apellido 2</th>
      <th class="center-align">Fecha Nacimiento</th>
      <th class="center-align">Celular</th>
      <th class="center-align">Correo</th>
      <th class="center-align">Direccion</th>
      <th class="center-align">Total Ingresos</th>
      <th class="center-align">Usuario</th>
      <th class="center-align">Ciudad</th>
      <th class="center-align">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of lista">
      <td class="center-align">
        {{ x.Documento }}
      </td>
      <td class="center-align">
        {{ x.Nombre }}
      </td>
      <td class="center-align">
        {{ x.Apellido_1 }}
      </td>
      <td class="center-align">
        {{ x.Apellido_2 }}
      </td>
      <td class="center-align">
        {{ x.Fecha_Nacimiento }}
      </td>
      <td class="center-align">
        {{ x.Celular }}
      </td>
      <td class="center-align">
        {{ x.Correo }}
      </td>
      <td class="center-align">
        {{ x.Direccion }}
      </td>
      <td class="center-align">
        {{ x.Total_Ingresos }}
      </td>
      <td class="center-align">
        {{ x.DocumentoUsuario }}
      </td>
      <td class="center-align">
        {{ x.ciudad }}
      </td>
      <td class="center-align">
        <a class="edit" routerLink="../editar-cliente/{{ x.Documento }}"
          ><i class="orange-text material-icons" title="Edit">&#xE254;</i></a
        >
        <a
          class="delete modal-trigger"
          data-target="modal1"
          (click)="ponerid(x.Nombre,x.Documento)"
          [routerLink]="[
            '/parametrizacion',
            { outlets: { modal: ['eliminar-cliente'] } }
          ]"
          ><i class="red-text material-icons" title="Delete">&#xE872;</i></a
        >
      </td>
    </tr>
  </tbody>
</table>
