<div class="table-title">
  <div class="row">
    <div class="col-sm-6">
      <h4>Administración proyectos</h4>
    </div>
    <div class="col-sm-6">
      <button
        class="waves-effect waves-light btn modal-trigger"
        data-target="modal1"
        [routerLink]="[
          '/parametrizacion',
          { outlets: { modal: ['crear-proyecto'] } }
        ]"
      >
        <i class="material-icons">&#xE147;</i> <span>Crear Poyecto</span>
      </button>
    </div>
  </div>
</div>
<table class="highlight responsive-table">
  <thead class="white-text grey darken-2">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th>Documento usuario</th>
      <th>Usuario</th>
      <th>Ciudad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of lista">
      <td>
        {{ x.codigo }}
      </td>
      <td>
        {{ x.nombre }}
      </td>
      <td>
        {{ x.descripcion }}
      </td>
      <td>
        {{ x.imagen }}
      </td>
      <td>
        {{ x.usuario }}
      </td>
      <td>
        {{ x.DocumentoUsuario }}
      </td>
      <td>
        {{ x.ciudad }}
      </td>
      <td>
        <a class="edit" routerLink="../editar-proyecto/{{ x.codigo }}"
          ><i class="orange-text material-icons" title="Edit">&#xE254;</i></a
        >
        <a
          class="delete modal-trigger"
          data-target="modal1"
          [routerLink]="[
            '/parametrizacion',
            { outlets: { modal: ['eliminar-proyecto'] } }
          ]"
          ><i class="red-text material-icons" title="Delete">&#xE872;</i></a
        >
        <button type="button" class="btn btn-danger">aprobar</button>
      </td>
    </tr>
  </tbody>
</table>
