<div class="table-title center-align">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="grey-text text-lighten-4">Administración proyectos</h4>
    </div>
    <div class="col-sm-6">
      <button
        class="waves-effect waves-light btn modal-trigger"
        data-target="modal1"
        [routerLink]="[
          '/parametrizacion',
          { outlets: { modal: ['crear-proyecto'] } }
        ]"
      >
        <i class="material-icons left">&#xE147;</i> <span>Crear Proyecto</span>
      </button>
    </div>
  </div>
</div>
<table class="highlight responsive-table">
  <thead class="white-text">
    <tr>
      <th class="center-align">Codigo</th>
      <th class="center-align">Nombre</th>
      <th class="center-align">Descripción</th>
      <th class="center-align">Imagen</th>
      <th class="center-align">Documento usuario</th>
      <th class="center-align">Usuario</th>
      <th class="center-align">Ciudad</th>
      <th class="center-align">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of lista">
      <td class="center-align">
        {{ x.codigo }}
      </td>
      <td class="center-align">
        {{ x.nombre }}
      </td>
      <td class="justify">
        {{ x.descripcion }}
      </td>
      <td class="center-align">
        {{ x.imagen }}
      </td>
      <td class="center-align">
        {{ x.usuario }}
      </td>
      <td class="center-align">
        {{ x.DocumentoUsuario }}
      </td>
      <td class="center-align">
        {{ x.ciudad }}
      </td>
      <td class="row">
        <a class="edit col s1" routerLink="../editar-proyecto/{{ x.codigo }}"
          ><i class="orange-text material-icons" title="Edit">&#xE254;</i></a
        >
        <a
          class="delete modal-trigger col s1"
          data-target="modal1"
          [routerLink]="[
            '/parametrizacion',
            { outlets: { modal: ['eliminar-proyecto'] } }
          ]"
          ><i class="red-text material-icons" title="Delete">&#xE872;</i></a
        >
        <a class="check col s1" routerLink="../editar-proyecto/{{ x.codigo }}"
          ><i class="light-green-text material-icons" title="Check"
            >&#xe5ca;</i
          ></a
        >
        <a class="col s1"></a>
        <a class="col s1"></a>
        <a class="col s1"></a>
        <a class="col s1"></a>
      </td>
    </tr>
  </tbody>
</table>
