
<!--<form [formGroup]="crearUsuarioValidator">-->
    <section class="container">
        <div class="row">
          <h3 class="center-align">Editar Bloque</h3>
          <article class="col s6 offset-s3">
            <form [formGroup]="fgValidator">
                <div class="input-field">
                  <i class="material-icons prefix">perm_identity</i>
                  <label for="codigo"></label>
                  <input formControlName="codigo" type="text" name="codigo" required />
                  </div>
              <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <label for="nombre"></label>
                <input formControlName="nombre" type="text" name="nombre" required />
              </div>
      
              <div class="input-field">
                <i class="material-icons prefix">person_pin</i>
                <label for="descripcion"></label>
                <input
                  formControlName="descripcion"
                  type="text"
                  name="descripcion"
                  required
                />
              </div>
              <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                  <label for="proyecto"></label>
                  <input formControlName="proyecto" type="text" name="proyecto" required />
              </div>
              <p class="center-align">
                <button
                  class="waves-effect waves-light btn"
                  type="submit"
                  (click)="ActualizarBloque()"
                >
                  <i class="material-icons right"></i>Actualizar
                </button>
              </p>
            </form>
          </article>
        </div>
      </section>
      