<app-barra-navegacion-superior>
  <!-- Codigo de la barra de navegacion superior-->
</app-barra-navegacion-superior>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a
      href="#!"
      class="modal-action modal-close waves-effect waves-green btn-flat"
      >Agree</a
    >
  </div>
</div>
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<app-pie-pagina>
  <!-- Codigo del pie de pagina  -->
</app-pie-pagina>
