<section class="container">
  <div class="row">
    <h2 class="center-align">INFORME PAGO POR CLIENTE</h2>
    <form [formGroup]="fgValidator">
    <div>
      <select formControlName="inmuebles" class="browser-default pl" id="inmuebles" >
      
          <option *ngFor="let x of inmuebles" value="{{x.codigo}}">{{x.identificador}}</option>
   
        
      </select>
    </div>
      <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
      
         
        <div class="input-field">
            <h4>Seleccione el cliente:</h4>
          
          <label for="cliente"></label>
          <select formControlName="cliente" class="browser-default pl" id="cliente">
            <option></option>
          </select>
        </div>
        </form>
    </div>
  </section>
