
<!--<form [formGroup]="crearUsuarioValidator">-->
    <section class="container">
        <div class="row">
          <h3 class="center-align">Edicion Inmueble</h3>
          <article class="col s6 offset-s3">
            <form [formGroup]="fgValidator">
                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <label for="inmueble">Inmueble</label>
                    <select formControlName="inmueble" class="browser-default pl" id="inmueble">
                      <option></option>
                    </select>
                  </div>
              <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <label for="identificador">Identificador</label>
                <input formControlName="identificador" type="text" name="identificador" required />
              </div>
      
              <div class="input-field">
                <i class="material-icons prefix">person_pin</i>
                <label for="valor">Valor:</label>
                <input
                  formControlName="valor"
                  type="number"
                  name="valor"
                  required
                />
              </div>
              <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <label for="proyecto">Proyecto</label>
                <select formControlName="proyecto" class="browser-default pl" id="proyecto">
                  <option></option>
                </select>
              </div>
             
              <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <label for="bloque">Bloque</label>
                <select formControlName="bloque" class="browser-default pl" id="bloque">
                  <option></option>
                </select>
              </div>
              <p class="center-align">
                <button
                  class="waves-effect waves-light btn"
                  type="submit"
                  (click)="RegitrarInmueble()"
                >
                  <i class="material-icons right"></i>Actualizar
                </button>
              </p>
            </form>
          </article>
        </div>
      </section>
      