<p>informe-proyectos works!</p>
BARRAS O TORTA
select pais o ciudad 
vendidos y no vendidos

    <section class="container">
        <div class="row">
          <h2 class="center-align">INFORME PROYECTOS</h2>
          <article class="col s6 offset-s3">
            
          </article>
          <div>
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    ></canvas>
                </div>
                <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      