<footer class="footer center-align">
  <div class="container">
    <div class="row">
      <a routerLink="/" class="grey-text text-lighten-4">Inicio</a>
      |
      <a routerLink="/" class="grey-text text-lighten-4">Acerca de nosotros</a>
      |
      <a routerLink="/" class="grey-text text-lighten-4">Contáctenos</a>
      |
      <a routerLink="/" class="grey-text text-lighten-4">Términos de uso</a>
      |
      <a routerLink="/" class="grey-text text-lighten-4"
        >Política de privacidad</a
      >
      |
      <a routerLink="/" class="grey-text text-lighten-4">Síguenos</a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-lighten-4">
      © 2021 Julián Andrés Flórez - Miguel Ángel Restrepo, Todos los derechos
      reservados
    </div>
  </div>
</footer>
