<div class="table-title">
  <div class="row">
    <div class="col-sm-6">
      <h4>Administración país</h4>
    </div>
    <div class="col-sm-6">
      <button
        class="waves-effect waves-light btn modal-trigger"
        data-target="modal1"
        [routerLink]="[
          '/parametrizacion',
          { outlets: { modal: ['crear-pais'] } }
        ]"
      >
        <i class="material-icons">&#xE147;</i> <span>Crear País</span>
      </button>
    </div>
  </div>
</div>
<table class="highlight responsive-table">
  <thead class="white-text grey darken-2">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of lista">
      <td>
        {{ x.codigo }}
      </td>
      <td>
        {{ x.nombre }}
      </td>
      <td>
        <a class="edit" routerLink="../editar-pais/{{ x.codigo }}"
          ><i class="orange-text material-icons" title="Edit">&#xE254;</i></a
        >
        <a class="delete  modal-trigger"
        data-target="modal1"
        [routerLink]="[
          '/parametrizacion',
          { outlets: { modal: ['eliminar-pais'] } }
        ]"
          ><i class="red-text material-icons" title="Delete">&#xE872;</i></a
        >
         
      </td>
    </tr>
  </tbody>
</table>
