<div class="table-title">
  <div class="row">
    <div class="col-sm-6">
      <h4>Administración usuarios</h4>
    </div>
    <div class="col-sm-6">
      <button
        class="waves-effect waves-light btn modal-trigger"
        data-target="modalx"
      >
        <i class="material-icons">&#xE147;</i> <span>Crear Usuario</span>
      </button>
      <button data-target="modalx" class="btn modal-trigger">Modal</button>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modalx" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Alvin</td>
      <td>Eclair</td>
      <td>$0.87</td>
      <td>
        <a routerLink="#editEmployeeModal" class="edit" data-toggle="modal"
          ><i
            class="orange-text material-icons"
            data-toggle="tooltip"
            title="Edit"
            >&#xE254;</i
          ></a
        >
        <a routerLink="#deleteEmployeeModal" class="delete" data-toggle="modal"
          ><i
            class="red-text material-icons"
            data-toggle="tooltip"
            title="Delete"
            >&#xE872;</i
          ></a
        >
      </td>
    </tr>
    <tr>
      <td>Alan</td>
      <td>Jellybean</td>
      <td>$3.76</td>
      <td>
        <a routerLink="#editEmployeeModal" class="edit" data-toggle="modal"
          ><i
            class="orange-text material-icons"
            data-toggle="tooltip"
            title="Edit"
            >&#xE254;</i
          ></a
        >
        <a routerLink="#deleteEmployeeModal" class="delete" data-toggle="modal"
          ><i
            class="red-text material-icons"
            data-toggle="tooltip"
            title="Delete"
            >&#xE872;</i
          ></a
        >
      </td>
    </tr>
    <tr>
      <td>Jonathan</td>
      <td>Lollipop</td>
      <td>$7.00</td>
      <td>
        <a routerLink="#editEmployeeModal" class="edit" data-toggle="modal"
          ><i
            class="orange-text material-icons"
            data-toggle="tooltip"
            title="Edit"
            >&#xE254;</i
          ></a
        >
        <a routerLink="#deleteEmployeeModal" class="delete" data-toggle="modal"
          ><i
            class="red-text material-icons"
            data-toggle="tooltip"
            title="Delete"
            >&#xE872;</i
          ></a
        >
      </td>
    </tr>
  </tbody>
</table>
