<div class="table-title">
  <div class="row">
    <div class="col-sm-6">
      <h4>Administración usuarios</h4>
    </div>
    <div class="col-sm-6">
      <button
        class="waves-effect waves-light btn modal-trigger"
        data-target="modal1"
      >
        <i class="material-icons">&#xE147;</i> <span>Crear Usuario</span>
      </button>
    </div>
  </div>
</div>
<table class="highlight responsive-table">
  <thead class="white-text grey darken-2">
    <tr>
      <th>Nombre</th>
      <th>Apellido 1</th>
      <th>Apellido 2</th>
      <th>Celular</th>
      <th>Ciudad</th>
      <th>Contraseña</th>
      <th>Correo</th>
      <th>Documento</th>
      <th>Rol</th>
      <th>Usuario</th>
      <th>Codigo ciudad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of lista">
      <td>
        {{ x.Nombre }}
      </td>
      <td>
        {{ x.Apellido_1 }}
      </td>
      <td>
        {{ x.Apellido_2 }}
      </td>
      <td>
        {{ x.Celular }}
      </td>
      <td>
        {{ x.Ciudad }}
      </td>
      <td>
        {{ x.Contrasena }}
      </td>
      <td>
        {{ x.Correo }}
      </td>
      <td>
        {{ x.Documento }}
      </td>
      <td>
        {{ x.Rol }}
      </td>
      <td>
        {{ x.Usuario }}
      </td>
      <td>
        {{ x.codigoCiudad }}
      </td>
      <td>
        <a class="edit" routerLink="../editar-usuario/{{ x }}.Documento"
          ><i class="orange-text material-icons" title="Edit">&#xE254;</i></a
        >
        <a class="delete" routerLink="../eliminar-usuario/{{ x }}.Documento"
          ><i class="red-text material-icons" title="Delete">&#xE872;</i></a
        >
      </td>
    </tr>
  </tbody>
</table>
